body {
    padding-top: 10px;
    width: 100%;
    align-items: center;

  }

header {
 text-align: center;
}

.subheading {
  text-align: center;
  color: orange;
  font-family: 'Copperplate';

}

.subheading2 {
  text-align: center;
  color: black;
  font-style: italic;
  font-family: 'Copperplate';
}

.logo {
  text-align: center;
  max-width: 60%;
  max-height: 100vh;
  height: auto;
}

.pic {
  object-fit:contain;
  width: 150px;
  height: 150px;
}

.name {
  text-align: start;
  font-family: 'Copperplate';
}

.price {
  text-align: end;
  font-family: 'Copperplate';

}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
