body {
    padding-top: 10px;
    width: 100%;
    align-items: center;

  }

header {
 text-align: center;
}

.logo {
  text-align: center;
  max-width: 60%;
  max-height: 100vh;
  height: auto;
}


.pic {
  align-items: center;
  width: 100px; 
  height: 100px;
}

.name {
  text-align: center;

}

.price {
  text-align: end;

}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}